<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="/styles.css">
    <title>about</title>
</head>
<body>
    <h1>ABOUT ME</h1>
    <a href="/">Go to Home</a>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis libero in quis minima totam quas? Pariatur sed quas facere. Inventore id illum obcaecati ipsa delectus perferendis dicta. Ut perferendis veritatis illo beatae corporis consequuntur quasi, rem, doloremque cumque voluptatum, amet exercitationem quod ipsam earum deserunt repellendus. Distinctio, et quia, sit voluptas mollitia pariatur id repellat repudiandae placeat facere, quos dolorum tenetur deserunt vitae. Minus, explicabo praesentium! Adipisci necessitatibus hic, magni explicabo quidem deserunt fugiat, tempora ex sequi molestiae praesentium amet. Aliquam voluptas repellat corporis blanditiis eos tenetur magnam atque placeat temporibus qui optio dolore numquam, architecto nostrum, aperiam nemo distinctio.</p>
    <script src="/script.js"></script>
</body>
</html>